@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.all-subjects-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.all-subjects-heading {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#all-subjects-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.all-subject-btn {
  padding: 15px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.all-subject-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.all-subject-btn:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255);
}

.logout-button {
  background-color: #0d0d0d;
}
