@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  margin: 0;
  padding: 0;
  color: white;
}

.show-topics {
  display: block;
}

.each-lesson-main-heading {
  color: #0d0d0d;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.9);
  /* Adding some transparency to the background color */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}

h1 {
  text-align: center;
  color: #ffffff;
  /* Changing the color of the title to white */
  flex-grow: 1;
  margin: 0;
}

.back-btn {
  background-color: #0d0d0d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
}

.back-btn:hover {
  background-color: #cc0000;
}

.dropdown-container {
  margin: 20px 0;
  max-height: 80vh;
  overflow: auto;
}

.dropdown-btn {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.dropdown-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

/* .dropdown-content {
  display: block;
  padding: 60px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 70%;
} */

/* .dropdown-content.show {
  display: block;
} */
.lesson-button-style {
  background-color: transparent;
  text-align: left;
  color: #ffffff;
}
.lesson-button-style:hover {
  color: #ffffff;
}

.icons-styles {
  height: 30px;
  width: 40px;
}

.detailed-container {
  justify-content: space-between;
  background-color: #0056b3;
  align-items: center;
  padding: 10px;
}

.edit-detailed {
  height: 30px;
  width: 40px;
}

.text-area-styles {
  width: 100%;
}

.save-button-styles {
  width: 70px;
  background-color: #007bff;
  color: #fff;
}

.business-dropdown-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.business-dropdown-content li {
  margin-bottom: 8px;
  line-height: 1.5;
  border: 1px solid #007bff; /* Border style */
  border-radius: 5px; /* Rounded corners */
  background-color: #f0f0f0; /* Background color */
  padding: 10px; /* Padding */
  text-align: start;
  color: black;
}

/* .business-dropdown-content li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px; 
  background-color: #007bff; 
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 10px;
} */

.business-dropdown-content {
  padding: 20px;
  text-align: left; /* Ensure text starts from the left */
}

.business-dropdown-content p {
  margin-bottom: 10px;
}

.business-dropdown-content span {
  display: block;
  margin-bottom: 10px;
}

.edit-detailed {
  margin-top: 20px;
}
