.reviews-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: grid;
}

.reviews-toolbar {
  background-color: #f0f0f0;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  order: 1;
}

.toolbar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 8px;
  transition: color 0.3s ease;
}

.toolbar-btn:hover {
  color: #007bff;
}

.all-options {
  display: flex;
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.save-btn:focus,
.save-btn:hover {
  background-color: #0056b3;
}

.editor-container {
  padding: 16px;
  min-height: 200px;
  background-color: #f9f9f9;
  order: 0;
}

.DraftEditor-root {
  font-size: 16px;
  color: black; /* Set text color to black */
}

.text-editor-container {
  display: flex;
  flex-wrap: wrap;
}
